* {
  font-family: 'Source Sans Pro',sans-serif;
}

.logo {
  width: 60px;
  margin: 0px;
  padding: 0px;
  outline: 1px solid blue;
}

hr {
  color: #C3C4C3;
}

ul {
  list-style: none;
  display: inline-block;
  text-align: center!important;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

li {
  background-color: rgba(194,149,110,.5);
  color: white;
  display: inline-block;
  padding: 20px 25px;
  font-weight: 700px;
  border-radius: 6px;
}

figure {
  outline: 1px solid green;
  width: 90%;
  max-width: 1170px;
  min-width: 800px;
  margin: 50px auto;
}

.float {
  display: inline-block;
  vertical-align: bottom;
  float: left;
}
